{% extends "home/base_user.html" %}


{% block info %}
<div class="col-md-9">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
        </div>
        <div class="panel-body">
            <form role="form" method='post' enctype="multipart/form-data" novalidate>
                {{ form.csrf_token }}

                {% for msg in get_flashed_messages(category_filter=['ok']) %}   
                <div class="alert alert-success alert-dismissible">
                    <button type='button' class='close' data-dismiss='alert' aira-hidden='true'></button>
                    <h4><i class='icon fa fa-check'>{{ msg }}</i></h4>
                </div>
                {% endfor %}
                {% for msg in get_flashed_messages(category_filter=['err']) %}
                <div class="alert alert-danger alert-dismissible">
                    <button type='button' class='close' data-dismiss='alert' aira-hidden='true'></button>
                    <h4><i class='icon fa fa-ban'>操作失败!</i></h4>
                    {{ msg }}
                </div>
                {% endfor %}

                <fieldset>
                        <div class="form-group">
                            <label for="input_name"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ form.name.label }}</label>
                            {{ form.name(value=user.name) }}
                            <!-- <input id="input_name" class="form-control" placeholder="昵称" name="name" type="text" autofocus value="jinlong"> -->
                            {% for err in form.name.errors %}
                                <div class='col-md-12'>
                                    <font style='color: red'>{{ err }}</font>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_name"></div>
                        <div class="form-group">
                            <label for="input_email"><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.email.label }}</label>
                            {{ form.email(value=user.email) }}
                            <!-- <input id="input_email" class="form-control" placeholder="邮箱" name="email" type="email" autofocus value="1780316635@qq.com"> -->
                            {% for err in form.email.errors %}
                                <div class='col-md-12'>
                                    <font style='color: red'>{{ err }}</font>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_email"></div>
                        <div class="form-group">
                            <label for="input_phone"><span class="glyphicon glyphicon-phone"></span>&nbsp;{{ form.phone.label }}</label>
                            {{ form.phone(value=user.phone) }}
                            <!-- <input id="input_phone" class="form-control" placeholder="手机" name="phone" type="text" autofocus value="13700632835"> -->
                            {% for err in form.phone.errors %}
                                <div class='col-md-12'>
                                    <font style='color: red'>{{ err }}</font>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_phone"></div>
                        <div class="form-group">
                            <label for="input_face"><span class="glyphicon glyphicon-picture"></span>&nbsp;{{ form.face.label }}</label>
                            {% if user.face != None %}
                            <img src="{{ url_for('static', filename='uploads/users/'+user.face) }}" class="img-responsive img-rounded">
                            {% else %}
                            <img src="holder.js/100x100" class="img-responsive img-rounded">
                            {% endif %}
                            {{ form.face }}    
                            <!-- <input id="input_face" class="form-control" name="face" type="hidden" autofocus> -->
                            {% for err in form.face.errors %}
                                <div class='col-md-12'>
                                    <font style='color: red'>{{ err }}</font>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_face"></div>
                        <div class="form-group">
                            <label for="input_info"><span class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.info.label }}</label>
                            {{ form.info }}
                            <!-- <textarea class="form-control" rows="10" id="input_info">十年窗下无人问，一举成名天下知</textarea> -->
                            {% for err in form.info.errors %}
                                <div class='col-md-12'>
                                    <font style='color: red'>{{ err }}</font>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12" id="error_info"></div>
                        {{ form.submit }}
                    <!-- <a href="user.html" class="btn btn-success"><span class="glyphicon glyphicon-saved"></span>&nbsp;保存修改</a> -->
                    </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock info %}

<!-- 修改高亮 -->
{% block js %}
<script>
    $(document).ready(function(){
        $('#m-1').addClass("active");
    });
</script>
{% endblock js %}